body{
    text-align: center;

    margin: 0   50vh;
}

.logo{
    height: 80px;
}

.txtlogo {
    border-top: 1px yellow solid;
    color:  rgba(8,120,120,255);
    font-family: 'Times New Roman', Times, serif;
    

}

.perlogo{
    text-transform: uppercase;
    font-weight: bold;
}
.titolo{

    margin: 0   25vh;
    font-family: 'Times New Roman', Times, serif;
}
.descrizione{

    margin: 0   10vh;
    font-family: 'Times New Roman', Times, serif;
}

.focaccia {
    height: 60vh;
    width: 80vh;
    border-radius: 10px;}

.fonteimmagine {
    font-family: 'Times New Roman', Times, serif;
    color: gray;
}

.span2 {

    color: Red;
    display: flex;
    justify-content: left;
    margin: 0   12vh;
}

.link
{
    display: flex;
    justify-content: left;
    margin: 0   12vh;
}

.ingredienti
{display: flex;
    justify-content: left;
    margin: 2vh   12vh;
    border-bottom: 1px rgb(164, 248, 248) solid;
}

h2{font-weight: 400;
}

ol{display: flex;
    justify-content: left;
    margin: 0   7.5vh;
    font-weight: bold}

    li{text-align: left;
        margin: 0   15vh;
    padding: 0.6em;}


    .method{display: flex;
        justify-content: left;
        margin: 2vh   12vh;
        border-bottom: 1px rgb(164, 248, 248) solid;
        
    }

    .how{ display: flex;
        text-align: left    ;
        margin: 0   16.8vh}

    .endlist{   list-style: decimal;
        }

        .endlist li{ font-weight: bold}

        footer{
            text-align: left;
            margin: 1vh   12vh
        }

